<a href="https://colab.research.google.com/github/MartinKayz/Lux-Python-Bootcamp/blob/main/Tuples%26Dictionaries.ipynb" target="_parent"><img src="https://colab.research.google.com/assets/colab-badge.svg" alt="Open In Colab"/></a>

#Tuples

Immutable Python Sequences: cannot be modified In situ

Tuples are ordered and unchangeable (immutable) collections of data

Each tuple element may be of a different type (i.e., integers, strings, booleans, etc.).

What is more, tuples can contain other tuples or lists (and the other way round).

In [1]:
tuple_1 = (1,2,3,4) # They prefer to use parenthesis
tuple_2 = 1.,2.,3.,4.

print(tuple_1)
print(tuple_2)

(1, 2, 3, 4)
(1.0, 2.0, 3.0, 4.0)

In [2]:
# Creating empty tuple
tuple_3 = ()

# creating a one-element tuple
tuple_4 = (5, ) # take note of the trailing comma

print(tuple_3)
print(tuple_4)

()
(5,)

In [3]:
tuple_5 = 2.,
print(tuple_5)

(2.0,)

## How to use tuples

In [4]:
my_marks = (70,84,80,91)

print(my_marks[0])
print(my_marks[-1])
print(my_marks[1:])
print(my_marks[:-2])

for elem in my_marks:
  print(elem)

70
91
(84, 80, 91)
(70, 84)
70
84
80
91

In [6]:
# len() - accepts tuples and returns the number of elems
# + operator - can join tuples together
# * operator - can multiply tuples together
# in and not in - works same as in lists


my_passwords = ('pass@21', 123456, 'whyNotSecureIn@2021')

more_passcodes = my_passwords + ('Ilovepasscde242!', '9jnvef3jg')
current_passcodes = my_passwords * 3

print(more_passcodes)
print(current_passcodes)
print(len(more_passcodes))
print(len(current_passcodes))
print(123456 in current_passcodes)
print('9jnvef3jg' not in more_passcodes)

('pass@21', 123456, 'whyNotSecureIn@2021', 'Ilovepasscde242!', '9jnvef3jg')
('pass@21', 123456, 'whyNotSecureIn@2021', 'pass@21', 123456, 'whyNotSecureIn@2021', 'pass@21', 123456, 'whyNotSecureIn@2021')
5
9
True
False

In [8]:
var = 123

t1 = (1,)
t2 = (2,)
t3 = (3, var) # variables can also be tuple elements

t1, t2, t3 = t2, t3, t1 # they can exist on the left side of assignment operator
# useful for swapping values

print(t1) #new t2
print(t2) #new t3
print(t3) #new t1

(2,)
(3, 123)
(1,)

## Converting other types to tuples

In [28]:
my_tuple = tuple((1, 2, "string")) # use the in built tuple method
print(my_tuple)

my_list = [2, 4, 6]
print(my_list)    
print(type(my_list))    
tup = tuple(my_list)
print(tup)    
print(type(tup))

(1, 2, 'string')
[2, 4, 6]
<class 'list'>
(2, 4, 6)
<class 'tuple'>

## Converting tuples to lists

In [29]:
tup = 1, 2, 3, 
my_list = list(tup) # use the in built list method
print(type(my_list))

<class 'list'>

# Dictionaries

Python Data Structure, mutable in nature.

Dictionaries are ordered, changeable (mutable), and indexed collections of data

Set of key-value pairs:

**Note**
- Each key must be unique
- Key must be any immutable object type *(numbers, Strings)*
- Not to be confused with list: Lists have numbered values, Dictionaries have pairs of values
- *len()* also works, returns number of key-value pairs

In [9]:
# how to make a dictionary

people_passcodes = {'Emma': 31412, 'Mercy': 51246, 'Joseph':89384}
phone_numbers = {'Panto': 2532598375, 'Daniel':475357423, 'Sparkle':53264367}
marks = {}

print(people_passcodes)
print(phone_numbers)
print(marks)

{'Emma': 31412, 'Mercy': 51246, 'Joseph': 89384}
{'Panto': 2532598375, 'Daniel': 475357423, 'Sparkle': 53264367}
{}

In [30]:
# How to access values from dictionary

print(people_passcodes['Mercy']) # keys are case sensitive
print(phone_numbers['Daniel'])

print('Using the get method to access dictionary values ',phone_numbers.get('Panto'))
# do not use non-existent keys: Errors your way

51246
475357423
Using the get method to access dictionary values  2532598375

In [13]:
class_mates = ['newton','arthur','Panto', 'Daniel', 'Sparkle']

for mate in class_mates:
  if mate in phone_numbers:
    print(mate, ' Exists in the dictionary ', phone_numbers[mate])
  else:
    print(mate, ' Does not exist in the dictionary')

newton  Does not exist in the dictionary
arthur  Does not exist in the dictionary
Panto  Exists in the dictionary  2532598375
Daniel  Exists in the dictionary  475357423
Sparkle  Exists in the dictionary  53264367

In [35]:
# for readabilty sake, align your dictionaries vertically
# Example 1:
dictionary = {
              "cat": "chat",
              "dog": "chien",
              "horse": "cheval"
              }

# Example 2:
phone_numbers2 = {'boss': 5551234567,
                 'Suzy': 22657854310,
                 'Martin': 654531284,
                 'Elijah': 6845458
                 }
            
print(dictionary)
print(phone_numbers2)

{'cat': 'chat', 'dog': 'chien', 'horse': 'cheval'}
{'boss': 5551234567, 'Suzy': 22657854310, 'Martin': 654531284, 'Elijah': 6845458}

## Browsing Dictionaries

Dictionaries are not sequence types, therefore the `for` loop is useless.

Instead use the `keys()` method possessed by each dictionary

In [15]:
for key in people_passcodes.keys(): # method returns an iterable object of all keys
  print(key, people_passcodes[key])

Emma 31412
Mercy 51246
Joseph 89384

In [16]:
# Sorting dictionaries
for ph_nu in sorted(phone_numbers.keys()): # use the sorted function
  print(ph_nu, ' phone number is ', phone_numbers[ph_nu])

Daniel  phone number is  475357423
Panto  phone number is  2532598375
Sparkle  phone number is  53264367

In [17]:
# Using the items() method, returns a list of tuples: items of tuples are key-value pairs

for name, code in people_passcodes.items():
  print(name,' code is ', code)

Emma  code is  31412
Mercy  code is  51246
Joseph  code is  89384

In [18]:
# seeing how the tuple looks like
print(people_passcodes.items())

dict_items([('Emma', 31412), ('Mercy', 51246), ('Joseph', 89384)])

In [19]:
# return only values using the values() method

for val in dictionary.values():
  print(val)

chat
chien
cheval

## Modifying Dictionaries

In [20]:
# using phone_numbers2 dictionary
print(phone_numbers2)
phone_numbers2['boss'] = 56145 # use the keys to modify the values
print(phone_numbers2)

{'boss': 5551234567, 'Suzy': 22657854310}
{'boss': 56145, 'Suzy': 22657854310}

In [21]:
# adding new keys
phone_numbers2['girl'] = 789321
print(phone_numbers2)

{'boss': 56145, 'Suzy': 22657854310, 'girl': 789321}

In [22]:
# insert an item
phone_numbers2.update({'boys':8926})
print(phone_numbers2)

{'boss': 56145, 'Suzy': 22657854310, 'girl': 789321, 'boys': 8926}

In [23]:
# removing a key
del phone_numbers2['Suzy']
print(phone_numbers2)

{'boss': 56145, 'girl': 789321, 'boys': 8926}

In [36]:
# removing the last element in dictionary: popitem()
print(phone_numbers2)
print('This element has been removed from the dictionary ',phone_numbers2.popitem())
print(phone_numbers2)

{'boss': 5551234567, 'Suzy': 22657854310, 'Martin': 654531284, 'Elijah': 6845458}
This element has been removed from the dictionary  ('Elijah', 6845458)
{'boss': 5551234567, 'Suzy': 22657854310, 'Martin': 654531284}

# A simple program illustrating use cases, tuples and dictionary

In [27]:
# an empty dictionary for a certain college class
college_class = {}

while True:

  # prompting student to provide their name
  student_name = input('What is your name? ')
  if name == '':
    break
  
  # prompting the student for their marks
  student_marks = int(input('What is your mark? (0-10)'))
  # checking whether the student marks are in range 0 -10
  if student_marks not in range(0,11):
    break


  # checking whether student exists in class
  if student_name in college_class:
    # attach their marks to a tuple if they are already part
    college_class[student_name] += (student_marks,)
  else:
    # just add their marks for new students, tuple still
    college_class[student_name] = (student_marks, )


  # sorting the student names
for student_name in sorted(college_class.keys()):
  # adding up all a given student marks, to find average
  adding = 0
  counting = 0
  # check for marks for a given student
  for student_marks in college_class[student_name]:
    # add up all the marks
    adding += student_marks
    # count the number of marks
    counting += 1
  # printing the average
  print(student_name, "'s average is ...", adding / counting)

What is your name? dan
What is your mark? (0-10)8
What is your name? panto
What is your mark? (0-10)7
What is your name? mercy
What is your mark? (0-10)6
What is your name? dan
What is your mark? (0-10)9
What is your name? panto
What is your mark? (0-10)7
What is your name? mercy
What is your mark? (0-10)8
What is your name? dan
What is your mark? (0-10)6
What is your name?
What is your mark? (0-10)-1
dan 's average is ... 7.666666666666667
mercy 's average is ... 7.0
panto 's average is ... 7.0
panto  's average is ... 7.0